
<ion-content [fullscreen]="true">
  <header>
    <img
      src="../../assets/pokeball.svg"
      alt="A pokeball Image"
      class="img-pokeball"
    />
    <h1>Pokedex Project</h1>
  </header>

  <main id="content">
    <h2>Lista de Pokemons</h2>
    <div *ngIf="pokemons.length > 0">
      <mat-paginator [length]="totalPokemons" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
      <mat-spinner *ngIf="loading" [mode]="'indeterminate'" [diameter]="50" color="warn"></mat-spinner>
      <ul *ngIf="!loading" class="pokemon-list">
        <li *ngFor="let pokemon of pokemons">
          <a [routerLink]="['/details', pokemon.id]" class="details-link">
            <app-pokemon-card [id]="pokemon.id" [name]="pokemon.name" [image]="pokemon.image"></app-pokemon-card>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="pokemons.length === 0">
      <p>Nenhum Pokémon encontrado.</p>
    </div>
  </main>
</ion-content>
