
<ion-content [fullscreen]="true">
  <header>
    <img
      src="../../assets/pokeball.svg"
      alt="A pokeball Image"
      class="img-pokeball"
    />
    <h1>Pokedex Project</h1>
  </header>

  <main id="content">
    <!-- <p>{{ pokemons.count }}</p> -->
    <div *ngIf="pokemons.length > 0">
      <h2>Lista de Pokemons</h2>
      <ul>
        <li *ngFor="let pokemon of pokemons">
          <!-- {{ pokemon.name }}
          <img [src]="pokemon.image" [alt]="pokemon.name" style="width: 100px; height: 100px;"> -->
          <app-pokemon-card [id]="pokemon.id" [name]="pokemon.name" [image]="pokemon.image"></app-pokemon-card>
        </li>
      </ul>
    </div>
    <div *ngIf="pokemons.length === 0">
      <p>Nenhum Pokémon encontrado.</p>
    </div>
  </main>
</ion-content>
