h1 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--red);
  text-shadow: 1px 1px 1px rgb(185, 185, 185);
}

header {
  background: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 0.8rem;
  box-shadow: 0 0 4px gray;
}

.img-pokeball {
  max-width: 2rem;
}

.pokemon-list {
  list-style: none;
  // display: flex;
  // flex-wrap: wrap;
  // row-gap: 5rem;
  // column-gap: 0.5rem;
  padding: 0 2rem;
  // justify-content: space-between;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 4rem;
  column-gap: 2rem;
}

.pokemon-list li {
  padding: 1rem 3rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
}