
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="content">

    <span class="top-info">
      <h2>Detalhes do Pokemon</h2>
      <button (click)="voltar()" class="go-back-btn">Voltar</button>
    </span>
    
    <span class="spinner">
      <mat-spinner *ngIf="loading" [mode]="'indeterminate'" [diameter]="50" color="warn"></mat-spinner>
    </span>
    
    <section class="details" *ngIf="pokemonDetails">
      <div>
        
        <!-- Pokemon Image -->
        <img [src]="pokemonDetails.sprites?.other?.['official-artwork']?.front_default || pokemonDetails.sprites?.front_default" [alt]="pokemonDetails.name" style="width: 10rem; height: 10rem;">
        
        <!-- Basic Info -->
        <p class="pokemon-id">#{{ pokemonDetails.id }}</p>
        <p class="pokemon-name">{{ pokemonDetails.name }} ({{ pokemonDetails.gender }})</p>
        <p><span>Weight:</span> {{ pokemonDetails.weight }} | <span>Height:</span> {{ pokemonDetails.height }} | <span>Base Exp.:</span> {{ pokemonDetails.base_experience }}</p>

        <!-- Abilities -->
        <div class="items-list" *ngIf="pokemonDetails.abilities.length > 0">
          <p class="info">Abilities</p>
          <ul>
            <li *ngFor="let ability of pokemonDetails.abilities">{{ ability }}</li>
          </ul>
        </div>

        <!-- Types -->
        <div class="items-list" *ngIf="pokemonDetails.types.length > 0">
          <p class="info">Types</p>
          <ul>
            <li *ngFor="let type of pokemonDetails.types">{{ type.type.name }}</li>
          </ul>
        </div>

        <!-- Stats -->
        <div class="items-list" *ngIf="pokemonDetails.stats.length > 0">
          <p class="info">Stats</p>
          <ul>
            <li *ngFor="let statistic of pokemonDetails.stats">{{ statistic.stat.name }}: {{ statistic.base_stat }}</li>
          </ul>
        </div>
        
      </div>
    </section>
  </main>
</ion-content>
